.current-weather-section {
    .current-weather-header {
        @include flex(space-between, center);
    }

    .current-weather-container {
        .basic-stats {
            color: $mainBlueColor;

            .city-name {
                font-size: 1.5rem;
            }

            .current-date {
                margin: 0;
            }

            .city-weather-type {
                font-size: 1.3rem;
                margin: 0;
            }

            .temperature-container {
                .city-temperature {
                    font-size: 4rem;
                }

                img {
                    width: 50px;
                }
            }
        }

        .more-stats {
            .more-stats-feels-like {
                color: $secBlueColor;
            }

            .more-stats-item {
                @include flex(start, center);

                svg {
                    width: 2rem;
                    height: auto;
                }

                .more-stats-text {
                    color: $secBlueColor;
                    width: 5.25rem;
                }

                .more-stats-value {
                    color: $mainBlueColor;
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .current-weather-container {
        @include flex(center, start);
        gap: 5rem;
        //max-width: 30rem;
        //min-width: 35rem;
    }
}
