.navigation {
    position: relative;

    img {
        position: absolute;
    }

    input {
        width: 75%;
        height: 2rem;
        margin-bottom: 3rem;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        box-sizing: border-box;
        padding-left: 2rem;
    }
}
