@import "./sass/variables";
@import "./sass/mixin";
@import "./sass/navbar";
@import "./sass/currentWeather";
@import "./sass/buttonForTemp";
@import "./sass/extendedForecast";
@import "./sass/weatherSection";

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.weather-app {
    max-width: 800px;
    padding: 2rem;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
