/* COLORS */
.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation img {
  position: relative;
  bottom: 1.3rem;
  left: 2rem;
  cursor: pointer;
}
.navigation input {
  width: 75%;
  height: 2rem;
  margin-bottom: 3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  padding-left: 2rem;
}

.current-weather-section .current-weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-weather-section .current-weather-container {
  padding: 2rem 0;
}
.current-weather-section .current-weather-container .basic-stats {
  color: #3080c8;
}
.current-weather-section .current-weather-container .basic-stats .city-name {
  font-size: clamp(1.1rem, 4vw, 1.5rem);
}
.current-weather-section .current-weather-container .basic-stats .current-date {
  margin: 0;
}
.current-weather-section .current-weather-container .basic-stats .city-weather-type {
  font-size: clamp(1rem, 4vw, 1.3rem);
  margin: 0;
  text-transform: capitalize;
}
.current-weather-section .current-weather-container .basic-stats .temperature-container {
  display: flex;
  justify-content: none;
  align-items: center;
}
.current-weather-section .current-weather-container .basic-stats .temperature-container .city-temperature {
  font-size: clamp(2rem, 6vw, 4rem);
}
.current-weather-section .current-weather-container .basic-stats .temperature-container img {
  width: 60px;
  margin-left: 1rem;
}
.current-weather-section .current-weather-container .more-stats .more-stats-feels-like {
  color: #7b98b2;
}
.current-weather-section .current-weather-container .more-stats .more-stats-item {
  display: flex;
  justify-content: start;
  align-items: center;
}
.current-weather-section .current-weather-container .more-stats .more-stats-item svg {
  width: 2rem;
  height: auto;
}
.current-weather-section .current-weather-container .more-stats .more-stats-item .more-stats-text {
  color: #7b98b2;
  width: 5.25rem;
}
.current-weather-section .current-weather-container .more-stats .more-stats-item .more-stats-value {
  color: #3080c8;
}

@media screen and (min-width: 600px) {
  .current-weather-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: clamp(2rem, 10vw, 5rem);
  }
}
.toggle-button-cover {
  display: table-cell;
  position: relative;
  height: 36px;
  box-sizing: border-box;
}

.button-cover {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #dbe8ee;
  transition: 0.3s ease all;
  z-index: 1;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

#button-3 .knobs:before {
  content: "C";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 0.8;
  padding: 9px 4px;
  background-color: #3080c8;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: "F";
  left: 42px;
  background-color: #3080c8;
}

.extended-forecast-section {
  margin-top: 2rem;
}
.extended-forecast-section h3 {
  margin-bottom: 1rem;
}
.extended-forecast-section .forecast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  overflow-x: auto;
}
.extended-forecast-section .forecast-container .forecast-item {
  text-transform: capitalize;
  color: #3080c8;
}
.extended-forecast-section .forecast-container .forecast-item .forecast-day {
  font-weight: 400;
}
.extended-forecast-section .forecast-container .forecast-item .forecast-icon {
  width: 3rem;
}
.extended-forecast-section .forecast-container .forecast-item .forecast-climate {
  font-weight: 600;
}
.extended-forecast-section .forecast-container .forecast-item p {
  margin: 0;
}

.weather-section {
  background-color: #f5f5f5;
  border-radius: 0.7em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.5rem 3rem;
}
.weather-section h3 {
  font-weight: 400;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.weather-app {
  max-width: 800px;
  padding: 2rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}/*# sourceMappingURL=style.css.map */